* {

}

html {
  height: 100%;
  overflow-y: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100%;
  margin:0;
  padding:0;
  overflow: hidden;
}

.main-container{
  background: url('./assets/images.jpg') no-repeat fixed center;
  background-size: cover;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card {
  /* background-color:#5d89ba; */
  background-color: transparent;
  box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
  text-align: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card-back{
  position: absolute;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  height: 90vh;
}

#card-front{
  height: 70vh;
}
 
.logo {
  width: 170px;
}

form{
  margin-top: -30px;
  text-align: start;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text-container {
  text-align: start;
  width:85%;
  margin-top: 15px
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.forgot-password a{
  color: #333;
  font-size: 14px;
}

.submit-btn {
  width: 60%;
  border-radius: 20px !important;
  background-color:#18436D !important;
}

.sign-up-btn {
  margin-top: 15px;
}

.sign-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
   
.sign-link button {
  background-color: transparent !important;
  border: none;
  color: #333;
}

.sign-link button:hover {
  color: #18436D;
}

.sign-link p {
  color: #333;
  font-size: 14px;
  margin: 0;
}
   
.form-control{
  border-radius: 20px !important; 
  height: 30px !important;

}

label{
  margin-left: 7px;
}

@media only screen and (min-width: 768px) {
  #card-front {
    height: 90vh;
} 
}

